.general-container .chapter-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

.dropdown-text {
  position: relative;
  bottom: 4px;
  font-size: 18px;
}

.centered-element-container {
  display: flex;
  justify-content: center;
}

.chapter-button {
  position: fixed;
  top: 50px;
}
