:root {
    --dark-mode-background: #212529;
    --dark-mode-container: #2c2c2c;
}


.Body.context-dark {
    background-color: var(--dark-mode-background);
}

.Manga-Container.context-dark{
    background-color: var(--dark-mode-container);
    color: white;
}

.Manga-Container-title.context-dark{
    color: white;
}

.nav-menu.context-dark{
    background-color: var(--dark-mode-background);
}

/* .tagline-p.context-dark{
    color:#FEFEFA;
} */

.card-link.context-dark{
    color: #FEFEFA;
}

.sidebar-heading.context-dark{
    color: #FEFEFA
}